body {
    margin: 0%;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-image: linear-gradient(#00f, #000);
}
h1 {
    text-align: center;
    font-size: 75px;
    color: #00004b;
}
header h1 {
    padding-top: 30vh;
    padding-bottom: 35vh;
    margin: 0%;
    color: #ffffff;
}
.Games {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
}
.Games img {
    width: 290px;
    height: 290px;
    border-radius: 7%;
}
.Games p {
    text-align: center;
    font-size: 40px;
    color: #006dac;
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-weight: bold;
}
a {
    text-decoration: none;
}
a :hover {
    color: #00006b;
}