body {
    margin: 0%;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
.H {
    background-image: url(Image/header.avif);
    background-size: cover;
}
h1 {
    text-align: center;
    font-size: 75px;
    color: #00004b;
}
.H h1 {
    padding-top: 25vh;
    padding-bottom: 25vh;
    margin: 0%;
    color: #ffffff;
}
.Games {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
}
.Games img {
    width: 290px;
    height: 275px;
}
.Games h4 {
    text-align: center;
    font-size: 40px;
    color: #006dac;
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-weight: bold;
}
a {
    text-decoration: none;
}
header {
    background-color: rgb(38, 38, 201);
    position: fixed;
    width: 100%;
}
header h1 {
    font-size: 35px;
    margin: 0;
    padding: 15px;
    text-align: left;
    color: #fff;
}